<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <material name="gray">
    <color rgba="0.6 0.6 0.6 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>

  <xacro:macro name="my_robot_cell" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

    <joint name="pool_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="pool" />
    </joint>

    <link name="pool">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ZenPoolWithToolBox.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <material name="gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ZenPoolWithToolBoxCollision.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      </collision>
    </link>

    <link name="robot_mount"/>
    <joint name="base_to_robot_mount" type="fixed">
      <parent link="pool"/>
      <child link="robot_mount"/>
      <origin xyz="0.0 0.0 0" rpy="0 0 ${- 5*pi/4}" />
    </joint>

    <!-- <link name="tool_box">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ToolBoxPlatform.stl" />
        </geometry>
        <origin rpy="0 0 ${pi}" xyz="${0.25 - 0.045/2} 0 ${0.195/2}"/>
        <material name="white" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ToolBoxPlatform.stl" />
        </geometry>
        <origin rpy="0 0 ${pi}" xyz="${0.25 - 0.045/2} 0 ${0.195/2}"/>
      </collision>
    </link>
    <joint name="pool_toolbox_platform_joint" type="fixed">
      <parent link="pool" />
      <child link="tool_box" />
      <origin xyz="-.2275 .0 -.115" rpy="0 0 0" />
    </joint>

    <link name="tools">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ToolBoxes.stl" />
        </geometry>
        <origin rpy="0 0 ${pi}" xyz="${0.25 - 0.045/2} 0 ${0.195/2}"/>
        <material name="red" />
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ToolBoxes.stl" />
        </geometry>
        <origin rpy="0 0 ${pi}" xyz="${0.25 - 0.045/2} 0 ${0.195/2}"/>
      </collision>
    </link>
    <joint name="pool_toolboxes_joint" type="fixed">
      <parent link="pool" />
      <child link="tools" />
      <origin xyz="-.2275 .0 -.115" rpy="0 0 0" />
    </joint> -->

    <!--This will create the specific robot-->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}_"
      parent="robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      generate_ros2_control_tag="false"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <link name="tc_arm_side">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/tool_changer/ToolChangerArmSide.stl"/>
        </geometry>
        <origin rpy="${pi} 0 0" xyz="0 0.0 -0.0248"/>
        <material name="gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/tool_changer/ToolChangerArmSide.stl"/>
        </geometry>
        <origin rpy="${pi} 0 0" xyz="0 0.0 -0.0248"/>
      </collision>
    </link>
    <joint name="tc_to_arm" type="fixed">
      <parent link="ur5e_wrist_3_link"/>
      <child link="tc_arm_side" />
      <origin rpy="0 0 0" xyz="0.0 0.0 0.02"/>
    </joint>

    <!-- <link name="cleaner_tool">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/end_effectors/CleanerTool.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="0 ${pi} 0" xyz="-0.031739 0.039119 -0.097"/>
        <material name="blue"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/end_effectors/CleanerTool.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="0 ${pi} 0" xyz="-0.031739 0.039119 -0.097"/>
      </collision>
    </link>
    <joint name="cleaner_to_tc" type="fixed">
      <parent link="tc_arm_side"/>
      <child link="cleaner_tool" />
      <origin rpy="0 0 0" xyz="0.0 0.0 ${0.115}"/>
    </joint>

    <link name="pen_tool">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/end_effectors/PenTool.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="0 ${pi} 0" xyz="-0.016839 0.039119 -0.097"/>
        <material name="green"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/end_effectors/PenTool.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin rpy="0 ${pi} 0" xyz="-0.016839 0.039119 -0.097"/>
      </collision>
    </link>
    <joint name="pen_to_tc" type="fixed">
      <parent link="tc_arm_side"/>
      <child link="pen_tool" />
      <origin rpy="0 0 0" xyz="0.0 0.0 ${0.115}"/>
    </joint> -->

  </xacro:macro>
</robot>
