<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <material name="gray">
    <color rgba="0.6 0.6 0.6 1.0"/>
  </material>
  <material name="white">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="green">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>

  <xacro:macro name="my_robot_cell" params="
    parent
    *origin
    ur_type
    joint_limits_parameters_file
    kinematics_parameters_file
    physical_parameters_file
    visual_parameters_file
    ">

    <joint name="pool_base_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="pool" />
    </joint>

    <link name="pool">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ZenPoolWithToolBox.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <material name="gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/environment/ZenPoolWithToolBoxCollision.stl"/>
        </geometry>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
      </collision>
    </link>

    <!-- Dummy frame rotated 180 degrees so +X points exactly where the user wants -->
    <link name="pool_actual"/>
    <joint name="pool_to_pool_actual" type="fixed">
      <parent link="pool"/>
      <child link="pool_actual"/>
      <origin xyz="0 0 0" rpy="0 0 ${pi}" />
    </joint>

    <!-- Drawing Area Frame -->
    <link name="drawing_area"/>
    <joint name="pool_actual_to_drawing_area" type="fixed">
      <parent link="pool_actual"/>
      <child link="drawing_area"/>
      <origin xyz="-0.5 0.30 0" rpy="0 0 0" />
    </joint>

    <link name="robot_mount"/>
    <joint name="base_to_robot_mount" type="fixed">
      <parent link="pool"/>
      <child link="robot_mount"/>
      <origin xyz="0.0 0.0 0" rpy="0 0 ${- 5*pi/4}" />
    </joint>


    <!--This will create the specific robot-->
    <xacro:ur_robot
      name="${ur_type}"
      tf_prefix="${ur_type}_"
      parent="robot_mount"
      joint_limits_parameters_file="${joint_limits_parameters_file}"
      kinematics_parameters_file="${kinematics_parameters_file}"
      physical_parameters_file="${physical_parameters_file}"
      visual_parameters_file="${visual_parameters_file}"
      generate_ros2_control_tag="false"
    >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:ur_robot>

    <link name="tc_arm_side">
      <visual>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/tool_changer/ToolChangerArmSide.stl"/>
        </geometry>
        <origin rpy="${pi} 0 0" xyz="0 0.0 -0.0248"/>
        <material name="gray"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://my_robot_cell_description/meshes/tool_changer/ToolChangerArmSide.stl"/>
        </geometry>
        <origin rpy="${pi} 0 0" xyz="0 0.0 -0.0248"/>
      </collision>
    </link>
    <joint name="tc_to_arm" type="fixed">
      <parent link="ur5e_wrist_3_link"/>
      <child link="tc_arm_side" />
      <origin rpy="0 0 0" xyz="0.0 0.0 0.02"/>
    </joint>


  </xacro:macro>
</robot>
